<ion-header>
  <ion-navbar>
    <ion-title>Devices</ion-title>
  </ion-navbar>
  <button (click)="bleScan($event)">Scan</button>
  <ion-spinner *ngIf="scanning" icon="spiral"></ion-spinner>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="connecting||disconnecting"><ion-spinner icon="spiral"></ion-spinner></ion-item>
    <ion-item *ngFor="let device of scanDevices">
      <div *ngIf="connectedDevice.id === device.id">
        <button (click)="viewInConsole(connectedDevice)" item-right>view</button>
        <button (click)="disconnectDevice(device)" item-right>disconnect</button>
      </div>
      <button *ngIf="connectedDevice.id !== device.id" (click)="connectToDevice(device)" item-right>connect</button>
      <h2>{{device.name}}</h2>
      <p>{{device.id}}</p>
      <p>{{device.address}}</p>
    </ion-item>
  </ion-list>
  <!--<ion-spinner *ngIf=”isscanning==true” name=”circles”></ion-spinner>-->
</ion-content>
