<ion-header>
  <ion-navbar>
    <ion-title>
    Bluetooth Console
    </ion-title>
  </ion-navbar>
  <button (click)="serialWatch()">Connect serial</button>
</ion-header>

<ion-content padding class="console">
  <div id="messageList">
    <p *ngFor="let message of connectedDevice.messages">{{message}}</p>
  </div>
</ion-content>

<ion-footer>
  <ion-item *ngIf="serialConnected" (click)="record()">Record</ion-item>
</ion-footer>
